* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #166FE5;
}

html,
body {
    background: #F0F2F5;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

input {
    height: 3rem;
    width: 90%;
    border-radius: 0.4rem;
    border: 0.1rem solid #dddddd;
    padding-left: 1rem;
    font-size: 1.1rem;
}

input:focus {
    outline: none;
    border-color: var(--main-color);
}

input::placeholder {
    font-size: 1rem;  
}

button {
    border: none;
    color: #fff;
    font-weight: bold;    
    height: 3rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.card {
    height: 21rem;
    width: 25rem;
    background: #fff;
    border-radius: 0.5rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.line {
    width: 90%;
    height: 0.05rem;
    background: #dadada;
}

#apresentation {
    width: 32rem;
}

#apresentation img {
    width: 18rem;
}

#apresentation span {
    font-size: 1.7rem;
    margin-left: 1.7rem;
}

#enter-button {
    width: 95%;
    background: var(--main-color);
    font-size: 1.3rem;    
}

#enter-button:hover {
    background: #1b6cd6;
}

#create-new-page, #forgot-password  {
    font-size: .9rem;
}

#forgot-password {
    color: var(--main-color);
}


#forgot-password:hover, #create-new-page b:hover  {
    text-decoration: underline;
    cursor: pointer;
}

#new-account-button {
    background: #36A420;
    width: 10rem;
    font-size: 1rem;
}

#login {
    gap: 1.5rem;
}

#login span {
    width: 25rem;
    text-align: center;
}
